/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.table-div {    
    font-size: 8pt;
}

#prova{
    font-size:8pt;
}

.expandable {

}

.expandable:after {
    font-size: 10pt;
    content: "+";
}

.non-expandable {
    content: " ";
}

.expanded{

}

.expanded:after {
    font-size: 10pt;
    content: "-";
}

.child {
    padding-left: 10pt;
    font-size: 100pt;
    background-color: red !important;
}