/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.table-div {    
    font-size: 8pt;
}

#prova{
    font-size:8pt;
}

.expandable {

}

.expandable:after {
    font-size: 10pt;
    content: "+";
}

.non-expandable {
    content: " ";
}

.expanded{

}

.expanded:after {
    font-size: 10pt;
    content: "-";
}

/*
.title {
    color: darkblue;
    font-size: 30px;
    text-align: center;
    width:auto;
    height:20px ;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel 
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers 
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator 
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens 
@media screen and (max-width: 767px) {
    /* Hide captions 
    .carousel-caption {
        display: none;
    }
}

.table-div {
    position: fixed;
    top: 150px;
    left: 0;
    width: 50%;
    border: 3px solid #133da1;
}

.view-image {
    position: fixed;
    top: 150px;
    right: 0;
    width: 50%;
    height: 50%;
    border: 3px solid #000;
}

td.details-control {
    text-align: center;
    color: forestgreen;
    cursor: pointer;
}

tr.shown td.details-control {
    text-align: center;
    color: red;
}*/